# Ignore node_modules directory
node_modules/

# Ignore built output
dist/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore local development server files
.lit/

# Ignore npm package-lock.json
package-lock.json

# Ignore any log files
*.log

# Ignore any temporary or backup files
*~

# Ignore OS-specific files
.DS_Store
Thumbs.db
